.background {
    background-image: url('Images/background-home.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background-kies {
    background-image: url('Images/background-kies.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background-kleurplaat {
    background-image: url('Images/background-kleurplaat.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: black;
    font-family: 'fenway', 'Arial', sans-serif;
    text-align: left;
    margin: 0;
    font-size: 80px;
    line-height: 100px;
}

h2 {
    color: black;
    font-family: 'fenway', 'Arial', sans-serif;
    text-align: left;
    margin: 0;
    font-size: 80px;
    line-height: 100px;
}

* {
    box-sizing: border-box;
}

p {
    font-family: 'Poppins', 'Arial', sans-serif;
    margin: 0px;
}

.containerhome {
    padding-top: 200px;
    padding-left: 600px;
}

.playbutton {
    width: 200px;
}

.containertext {
    padding-left: 400px;
    padding-top: 80px;
}

.containerkies {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 60px;

}

.containerkleurplaat {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    padding-left: 100px;
}

.audiosection {
    padding-left: 200px;
}

.colors {
    width: 100px;
}

.kleurplaat {
    padding-left: 100px;
    padding-right: 100px;
    width: 950px;
}

.box {
    padding: 20px;
}

.box img {
    width: 450px;
}

.box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.kruis {
    width: 100px;
}

.play {
    width: 80px;
    align-items: center;
    display: flex;
}

.header {
    padding-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.timer {
    font-family: 'fenway', 'Arial', sans-serif;
    font-size: 40px;
    padding-top: 20px;
    color: azure;
}

#containergalgje {
    font-family: 'Poppins', 'Arial', sans-serif;
    padding: 150px;
    background-color: white;
    border-color: black;
    border-radius: 2%;
    margin: 50px;
}

#woordContainer {
    margin-top: 80px;
    font-size: 24px;
}

#gokContainer {
    margin-top: 20px;
}

#gokInput {
    padding: 5px;
}

#bericht {
    margin-top: 20px;
    font-weight: bold;
    color: red;
}